.App {
  text-align: center;
  /* background-color: rgb(230, 189, 189); */
  background-color: #b9bcda;
  /* border-radius: 20px; */
  /* box-sizing: border-box; */
  height: 500px;
  padding: 20px;
  width: auto;

}



